:root {
}

.buttonStyle {
    background-image: url("project://database/Assets/UI%20Assets_Ariana/ButtonBase.png?fileID=2800000&guid=cac33bfec1bc1384db1c9ef4df852ada&type=3#ButtonBase");
}

.styleClassName:hover {
    background-image: url("project://database/Assets/UI%20Assets_Ariana/START_PRESS.png?fileID=2800000&guid=383174f2c1db58241b444915675c92ae&type=3#START_PRESS");
}
